html, body {
  margin: 20px;
}

.ui-sortable {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 60%;
}
.ui-sortable li {
  margin: 0 3px 3px 3px;
  padding: 0.4em;
  padding-left: 1.5em;
  height: 18px;
}
