<h1 class="page-header">ivy-sortable</h1>

<div class="row">
  <div class="col-sm-6">
    <p>Drag the items below to rearrange them.</p>

    {{#collection "ivy-sortable" class="list-group" content=model cursor="move" itemClassNames="list-group-item sortable-item"}}
      {{title}}
    {{/collection}}
  </div>
  <div class="col-sm-6">
    <p>The list is:</p>

    <ol>
      {{#each movie in this}}
        <li>{{movie.title}}</li>
      {{/each}}
    </ol>
  </div>
</div>
